.navigation {
    background-color: $primary-dark1;

    &__list { 
        list-style: none;
        padding-left: 0;
        @include flexme;

        &--active {
            color: $secondary-color;
        }
    }

    &__listItem {
        font-size: 1em;
    }
    &__listItem:not(:last-of-type) {
        margin-right: 2em;
    }

    &__link {
        text-decoration: none;
    }
}